@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 600vh;
    font-family: "Inter";
}

.header{
    width: 100%;
    padding: 36.5px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heading-1{
    color: black;
    font-size: 28px;
    font-weight: 700;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}
.heading-1 span{
    color: #FFA03F;
    
}
.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
    font-size: 24px;
    font-weight: 500;

}

.img-1{
    width: 24px;
    height: 24px;
    justify-self: center;
    align-self: center;
}


.menu{
    width: 31px;
}


.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 30px
    
}

.hero-div-1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 40px;
    /* padding: 40px 0px 0px 20px; */
    /* transform: translateX(115px); */
    position: relative;
    left: 50%;
    transform: translateX(-84%);

    
}

.heading-2{
    font-size: 80px;
    font-weight: 700;
    width: 584px;
    line-height: 137%;
}
.heading-2 span{
    text-decoration: underline #FFA03F 8px;
}
.paragraph{
    font-size: 20px;
    color: #000000BF;
    font-weight: 500;
    width: 555px;
    line-height: 137%;
}
.child-div{
    width: 700px;
    padding: 30px 55px;
    box-shadow: 0px 0px 10px #00000033;
    backdrop-filter: blur(5px);
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "   location   date   price   button-search   "
    "   Lakshadweep   mar   rs   button-search    "
    ;
    column-gap: 65px;
    row-gap: 18px;
    justify-content: center;
    justify-items: start;
    align-items: center;
    align-content: center;
    border-radius: 42px;

}

.location{
    grid-area: location;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    gap: 10px
}

.date{
    grid-area: date;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    gap: 10px
}

.price{
    grid-area: price;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    gap: 10px
}

.lakshadweep{
    grid-area: Lakshadweep;
    font-size: 18px;
    color: #000000A6;
    font-weight: 500;
    width: 120px;
}
.mar{
    grid-area: mar;
    font-size: 18px;
    color: #000000A6;
    font-weight: 500;
    width: 91px;
}
.rs{
    grid-area: rs;
    font-size: 18px;
    color: #000000A6;
    font-weight: 500;
    width: 91px;

}

.img-3{
    width: 32px;
    height: 32px;
}

.button-search{
    grid-area: button-search;
    justify-self: end;
    padding: 15.5px;
    border: none;
    border-radius: 16px;
    background-color: #FFA03F; 
}
.hero-div-2{
    width: 50%;
    height: 100%;
    padding: 30px;
    display: flex;
    padding: 30px;


}
.child-div-2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.child-div-3{
    width: 50%;
    height: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.images-1{
    width: 90%;
    height: 50%;
    border-radius: 30px;

}
.images-2{
    width: 90%;
    border-radius: 30px;
    height: 50%;
}
.images-3{
    width: 100%;
    height: 80%;
    border-radius: 30px;
}

.fly{
    display: none;
}

@media (max-width:1530px){
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 50px; */
    }
    .hero-div-1{
        width: 100%;
        height: 70%;
        transform: translateX(0px);
        left: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 80px;
    }
    .heading-2{
        font-size: 40px;
        padding: 50px 0px 0px 0px;
    }

    .hero-div-2{
        padding: 0px;
        width: 100%;
        margin-top: 50px;
        height: 30%;
    }
    .child-div-3{
        display: none;
    }
    .child-div-2{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .images-2{
        width: 407px;
        height: 400px;
        box-shadow: 30px -30px  #D9D9D9;
    }
    .images-1{
        width: 407px;
        height: 400px;
        box-shadow: -30px -30px  #D9D9D9;

    }
}



@media (max-width: 890px){
    .header{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "   nav   h1   menu-1   ";
        justify-items: center;
        align-items: center;
    }
    nav{
        grid-area: nav;
    }
    .ul{
        display: none;
    }
    .heading-1{
        grid-area: h1;
    }
    .menu{
        grid-area: menu-1;
    }
    .child-div{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
    }
    .child-div p{
        display: none;
    }
    .fly{
        display: block;
        width: 36px;
        height: 36px;

    }
    .child-div-2{
        display: none;
    }

    .images-3{
        width: 80%;
        height: 500px;
    }
    .heading-2{
        width: 100%;
    }
    .paragraph{
        width: 100%
    }
    .hero-div-1{
        padding: 20px
    }
}